<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Hello Adonis</title>
    {{ css('style') }}
</head>
<body>
<section>
    <div id="root" class="subtitle"></div>
</section>
{{ script('js/app') }}

<!--<script src="{{ assetsUrl('/js/app.js') }}"></script>-->
<!--<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>-->
<!--<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>-->
<!--<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>-->

<!--
<script src="//cdnjs.cloudflare.com/ajax/libs/react/16.3.2/umd/react.production.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/react-dom/16.3.2/umd/react-dom.production.min.js"></script>
-->

<!--<script type="text/babel">-->
    <!--class Greeting extends React.Component {-->
        <!--render() {-->
            <!--return <h1>Hello, {this.props.name}</h1>;-->
        <!--}-->
    <!--}-->
    <!--let name = 'Daniel Alamo'-->
    <!--setTimeout(() => {-->
        <!--name = 'Antwaan'-->
        <!--console.log(name)-->
    <!--}, 2000)-->

    <!--ReactDOM.render(-->
        <!--<Greeting name={name}></Greeting>,-->
        <!--document.getElementById('root')-->
    <!--);-->
<!--</script>-->

</body>
</html>
